body{
    margin: 90px;
}
.wrapper{
    display: flex;
}
.cover_image{
    height: 600px;
    width: 400px;
}
.cover_image img{
    max-height: 100%;
    max-width: 100%;
}
.content-text{
    font-weight: bold;
    font-family: sans-serif;
}
h4{
    font-weight: bold;
}
.container{
    display: flex;
}
.logo{
    display: flex;
    position: absolute;
    top: 250px;
}
.logo-img{
    display: flex;
    width: 400px; 
    height: 100px;
    justify-content: center;

    background-color: rgba(32, 23, 44, 0.4)
}
.logo-img p{
    color: #fff;
    font-size: 30px;
    font-family: ;
}
.section2{
    padding-left: 25px;
}
.fields{
    display: flex;
    background-color: rgb(227, 235, 235);
}
.a{
    margin-right: 30px;
    margin-bottom: 30px;
    line-height: 20px;
}
.b{
    margin-bottom: 30px;
    line-height: 20px;
}

button{
    background-color: #596D48;
    border-radius: 6px;
    padding: 5px 15px;
    border-style: none;
}